__pycache__/
*.pyc
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
build/
dist/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg
MANIFEST
*.manifest
spec
pip-log.txt
.hypothesis/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.nox/
.tox/
.venv/
venv/
__pypackages__/
.pytype/
.ruff_cache/

# Virtualenv / env files
.env
.env.*

# Node / frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
.env.local
.env.development.local
.env.test.local
.env.production.local
.next/
out/
*.tsbuildinfo
.vercel/

# IDEs and OS
.DS_Store
.idea
.vscode/
